.bigger-container{
    padding:20px;
    margin:auto;
}

.container{
    width: 700px;
    min-height: 200px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    display: block;
    overflow: auto;
    

}